*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Popppins', sans-serif;
}

:root {
  --bg-color: #000000;
  --second-bg-color: #000000;
  --text-color: #FFFFFF;
  --main-color: #AFEEEE;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.web {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
  text-decoration: none;
}

.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: auto;
  object-position: top 0 left 7px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100; 
}
    
.navbar a{
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;
  text-decoration: none;
}

.navbar a:hover{
  color: var(--main-color);
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img/home.jpg');
  background-size: 1470px;
}

.homebook-box{
  width: 150px;
  height: 150px;
}

.home-content{
	display: flex;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.heading{
  text-align: center;
  font-size: 4.5rem;
  margin: 5rem;
  position: absolute;
  top: 65px;
  left: 25%;
}

.head2{
  text-align: center;
  font-size: 2rem;
  margin: 5rem;
  position: absolute;
  left: 40px;
  top: 200px;
}

.head3{
  text-align: center;
  font-size: 2rem;
  margin: 5rem;
  position: absolute;
  left: 40px;
  top: 600px;
}

.home-content .homebook-box{
	position: relative;
	border-radius: 2rem;
	box-shadow: 0 0 1rem var(--bg-color);
	overflow: hidden;
	display: flex;
}

.homebook-box img {
	width: 100%;
  object-fit: cover;
  transition: .5s ease;
  gap: 10px;
  row-gap: 20px;
}

.homebook-box:hover img{
	transform: scale(1.1);
}

.homebook-box .book-layer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 0 4rem;
	transform: translateY(100%);
	transition: .5s ease;
}

.homebook-box:hover .book-layer {
	transform: translateY(0);
}

.book-layer h4 {
	font-size: 1.7rem;
	transition: .5s ease;
  width: 100%;
  z-index: 10;
  cursor: default;
}

.book-layer a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	background: var(--text-color);
	border-radius: 50%;
}

.classic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img/history.jpg');
  background-size: 1470px;
}

.classic-box{
  width: 330px;
  height: 250px;
}

.classic-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.classic-content .classic-box{
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.classic-box img {
  width: 100%;
  object-fit: cover;
  transition: .5s ease;
  gap: 10px;
  row-gap: 20px;
}

.classic-box:hover img{
  transform: scale(1.1);
}

.classic-box .classic-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.classic-box:hover .classic-layer {
  transform: translateY(0);
}

.classic-layer h4 {
  font-size: 1.7rem;
  transition: .5s ease;
  width: 100%;
  z-index: 10;
  cursor: default;
}

.classic-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.head4{
  text-align: center;
  font-size: 2rem;
  margin: 5rem;
  position: absolute;
  left: 40px;
  top: 95px;
}

.sci-fi {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img/sci-fi.jpg');
  background-size: 1470px;
}

.scifi-box{
  width: 330px;
  height: 250px;
}

.scifi-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.scifi-content .scifi-box{
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.scifi-box img {
  width: 100%;
  object-fit: cover;
  transition: .5s ease;
  gap: 10px;
  row-gap: 20px;
}

.scifi-box:hover img{
  transform: scale(1.1);
}

.scifi-box .scifi-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.scifi-box:hover .scifi-layer {
  transform: translateY(0);
}

.scifi-layer h4 {
  font-size: 1.7rem;
  transition: .5s ease;
  width: 100%;
  z-index: 10;
  cursor: default;
}

.scifi-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.head5{
  text-align: center;
  font-size: 2rem;
  margin: 5rem;
  position: absolute;
  left: 40px;
  top: 95px;
}

.head6{
  text-align: center;
  font-size: 2rem;
  margin: 5rem;
  position: absolute;
  left: 40px;
  top: 70px;
}


.newbooks{
  background-image: url('img/newbook.jpg');
  background-size: 1470px;
  font-size: 1.7rem;
}

.newsongs{
  background-image: url('img/newsongs.jpg');
  background-size: 1470px;
}

.newpaintings{
  background-image: url('img/newpaintings.jpg');
  background-size: 1470px;
}

.yourmemories{
  background-image: url('img/yourmemories.jpg');
  background-size: 1470px;
}

.about{
  background-image: url('img/about.jpg');
  background-size: 1470px;
  font-size: 1.7rem;
}